In [ ]:
#Import necessary libraries
import numpy as np
import pandas as pd

#Load the datasets and Create an ExcelFile object
from google.colab import drive
drive.mount('/content/drive')
Data = pd.read_excel('/content/drive/MyDrive/Colab Notebooks/RozhinChainStores.xlsx')

Mounted at /content/drive

In [ ]:
#Initial check
print(Data.head(5))
print('\n')
print(Data.dtypes)
print('\n')
print(Data.info())
print('\n')
print(Data.isnull().sum())
print('\n')
print(Data.duplicated().sum())

  شماره فاکتور  تاریخ فروش   کد مشتری                    نام مشتری  \
0            1  1399/02/03  1010005.0  فروشگاه زنجيره اي افق کوروش
1            1  1399/02/03  1010005.0  فروشگاه زنجيره اي افق کوروش
2            2  1399/02/03  1010004.0  فروشگاه زنجيره اي افق کوروش
3            2  1399/02/03  1010004.0  فروشگاه زنجيره اي افق کوروش
4            3  1399/02/03  1010002.0  فروشگاه زنجيره اي افق کوروش

               نام فروشگاه  کد فروشنده                       فروشنده  \
0  فروشگاه افق کوروش کرمان   1400059.0  فروشنده فروشگاههاي زنجيره اي
1  فروشگاه افق کوروش کرمان   1400059.0  فروشنده فروشگاههاي زنجيره اي
2   فروشگاه افق کوروش مشهد   1400059.0  فروشنده فروشگاههاي زنجيره اي
3   فروشگاه افق کوروش مشهد   1400059.0  فروشنده فروشگاههاي زنجيره اي
4  فروشگاه افق کوروش اهواز   1400059.0  فروشنده فروشگاههاي زنجيره اي

             گروه کالا    کد کالا  \
0               سس گرم  1102001.0
1  رب گوجه فرنگي روژين  1101002.0
2  رب گوجه فرنگي روژين  1101002.0
3               سس گرم  1102001.0
4  رب گوجه فرنگي روژين  1101002.0

                                        نام کالا  ... مبلغ اضافه  \
0                       سس بطري کچاپ ساده460گرمي  ...     963081
1  رب گوجه فرنگي قرمز آسان بازشو روژين  800 گرمي  ...   17102454
2  رب گوجه فرنگي قرمز آسان بازشو روژين  800 گرمي  ...   14964646
3                       سس بطري کچاپ ساده460گرمي  ...    3691810
4  رب گوجه فرنگي قرمز آسان بازشو روژين  800 گرمي  ...   29929294

  ناخالص فروش با کسر تخفیف مبلغ فروش خالص تخفيف تجاري تخفيف حجمي تخفيف نقدي  \
0                 10700905       11663986           0   10380695          0
1                190027273      207129727           0   84148727          0
2                166273864      181238510           0   73630136          0
3                 41020133       44711943           0   39792667          0
4                332547728      362477022           0  147260272          0

  ارزش افزوده    عوارض     سال       ماه
0      642054   321027  1399.0  ارديبهشت
1    11401636  5700818  1399.0  ارديبهشت
2     9976431  4988215  1399.0  ارديبهشت
3     2461207  1230603  1399.0  ارديبهشت
4    19952863  9976431  1399.0  ارديبهشت

[5 rows x 24 columns]


شماره فاکتور                 object
تاریخ فروش                   object
کد مشتری                    float64
نام مشتری                    object
نام فروشگاه                  object
کد فروشنده                  float64
فروشنده                      object
گروه کالا                    object
کد کالا                     float64
نام کالا                     object
تعداد فروش و جایزه-کارتن     object
تعداد فروش و جایزه-ظرف       object
قیمت واحد                    object
مبلغ فروش ناخالص             object
مبلغ اضافه                   object
ناخالص فروش با کسر تخفیف     object
مبلغ فروش خالص               object
تخفيف تجاري                  object
تخفيف حجمي                   object
تخفيف نقدي                   object
ارزش افزوده                  object
عوارض                        object
سال                         float64
ماه                          object
dtype: object


<class 'pandas.core.frame.DataFrame'>
RangeIndex: 80163 entries, 0 to 80162
Data columns (total 24 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   شماره فاکتور              80163 non-null  object
 1   تاریخ فروش                80162 non-null  object
 2   کد مشتری                  80162 non-null  float64
 3   نام مشتری                 80162 non-null  object
 4   نام فروشگاه               80162 non-null  object
 5   کد فروشنده                80162 non-null  float64
 6   فروشنده                   80162 non-null  object
 7   گروه کالا                 80162 non-null  object
 8   کد کالا                   80162 non-null  float64
 9   نام کالا                  80162 non-null  object
 10  تعداد فروش و جایزه-کارتن  80163 non-null  object
 11  تعداد فروش و جایزه-ظرف    80163 non-null  object
 12  قیمت واحد                 80163 non-null  object
 13  مبلغ فروش ناخالص          80163 non-null  object
 14  مبلغ اضافه                80163 non-null  object
 15  ناخالص فروش با کسر تخفیف  80163 non-null  object
 16  مبلغ فروش خالص            80163 non-null  object
 17  تخفيف تجاري               80163 non-null  object
 18  تخفيف حجمي                80163 non-null  object
 19  تخفيف نقدي                80163 non-null  object
 20  ارزش افزوده               80163 non-null  object
 21  عوارض                     80163 non-null  object
 22  سال                       80162 non-null  float64
 23  ماه                       80162 non-null  object
dtypes: float64(4), object(20)
memory usage: 14.7+ MB
None


شماره فاکتور                0
تاریخ فروش                  1
کد مشتری                    1
نام مشتری                   1
نام فروشگاه                 1
کد فروشنده                  1
فروشنده                     1
گروه کالا                   1
کد کالا                     1
نام کالا                    1
تعداد فروش و جایزه-کارتن    0
تعداد فروش و جایزه-ظرف      0
قیمت واحد                   0
مبلغ فروش ناخالص            0
مبلغ اضافه                  0
ناخالص فروش با کسر تخفیف    0
مبلغ فروش خالص              0
تخفيف تجاري                 0
تخفيف حجمي                  0
تخفيف نقدي                  0
ارزش افزوده                 0
عوارض                       0
سال                         1
ماه                         1
dtype: int64


0

In [ ]:
#Preprocessing - chose the valuable columns

SelectedColumns = [ 'کد مشتری', 'کد فروشنده', 'کد کالا', 'نام مشتری', 'نام فروشگاه',
                    'فروشنده', 'نام کالا', 'گروه کالا', 'ماه', 'سال', 'مبلغ فروش خالص',
                    'قیمت واحد', 'تعداد فروش و جایزه-ظرف', 'تعداد فروش و جایزه-کارتن' ]

NewData = Data[SelectedColumns]
print(NewData.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 80163 entries, 0 to 80162
Data columns (total 14 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   کد مشتری                  80162 non-null  float64
 1   کد فروشنده                80162 non-null  float64
 2   کد کالا                   80162 non-null  float64
 3   نام مشتری                 80162 non-null  object
 4   نام فروشگاه               80162 non-null  object
 5   فروشنده                   80162 non-null  object
 6   نام کالا                  80162 non-null  object
 7   گروه کالا                 80162 non-null  object
 8   ماه                       80162 non-null  object
 9   سال                       80162 non-null  float64
 10  مبلغ فروش خالص            80163 non-null  object
 11  قیمت واحد                 80163 non-null  object
 12  تعداد فروش و جایزه-ظرف    80163 non-null  object
 13  تعداد فروش و جایزه-کارتن  80163 non-null  object
dtypes: float64(4), object(10)
memory usage: 8.6+ MB
None

In [ ]:
#Preprocessing - rename the headers

NewData.rename(columns={
               'کد مشتری': 'CustomerCode',
               'کد فروشنده': 'SellerCode',
               'کد کالا': 'ProductCode',
               'نام مشتری': 'CustomerName',
               'نام فروشگاه': 'StoreName',
               'فروشنده': 'SellerName',
               'نام کالا': 'ProductName',
               'گروه کالا': 'ProductGroup',
               'ماه': 'Month',
               'سال': 'Year',
               'مبلغ فروش خالص': 'NetSales',
               'قیمت واحد': 'UnitPrice',
               'تعداد فروش و جایزه-ظرف': 'Units',
               'تعداد فروش و جایزه-کارتن': 'Cartons'
               }, inplace=True)

print(NewData.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 80163 entries, 0 to 80162
Data columns (total 14 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   CustomerCode  80162 non-null  float64
 1   SellerCode    80162 non-null  float64
 2   ProductCode   80162 non-null  float64
 3   CustomerName  80162 non-null  object
 4   StoreName     80162 non-null  object
 5   SellerName    80162 non-null  object
 6   ProductName   80162 non-null  object
 7   ProductGroup  80162 non-null  object
 8   Month         80162 non-null  object
 9   Year          80162 non-null  float64
 10  NetSales      80163 non-null  object
 11  UnitPrice     80163 non-null  object
 12  Units         80163 non-null  object
 13  Cartons       80163 non-null  object
dtypes: float64(4), object(10)
memory usage: 8.6+ MB
None

<ipython-input-4-69ceff86f8b6>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  NewData.rename(columns={

In [ ]:
#Preprocessing - function to normalize Persian text

import re

#Function to manage the text
def normalize_persian(text):
    if not isinstance(text, str):
        return None                     #Handle non-string values
    text = text.strip()                 #Remove leading/trailing spaces
    text = re.sub(r'\s+', ' ', text)    #Replace multiple spaces with one
    text = text.replace('ي', 'ی')       #Convert Arabic "ي" to Persian "ی"
    text = text.replace('ك', 'ک')       #Convert Arabic "ك" to Persian "ک"
    return text

PersianMonths = {'فروردین': '01','اردیبهشت': '02','خرداد': '03','تیر': '04',
                 'مرداد': '05','شهریور': '06','مهر': '07','آبان': '08',
                 'آذر': '09','دی': '10','بهمن': '11','اسفند': '12'}

#Normalize and debug 'Month' column
NewData['Month'] = NewData['Month'].apply(normalize_persian)
NewData['MonthNumeric'] = NewData['Month'].map(PersianMonths)
NewData['MonthNumeric'].fillna('Unknown', inplace=True)
NewData = NewData[NewData['MonthNumeric'] != 'Unknown']

In [ ]:
#Check data
print("Unique values in 'Month':")
print(NewData['MonthNumeric'].unique())
print(NewData.info())

Unique values in 'Month':
['02' '03' '04' '05' '06' '07' '08' '09' '10' '11' '12' '01']
<class 'pandas.core.frame.DataFrame'>
Index: 80162 entries, 0 to 80161
Data columns (total 15 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   CustomerCode  80162 non-null  float64
 1   SellerCode    80162 non-null  float64
 2   ProductCode   80162 non-null  float64
 3   CustomerName  80162 non-null  object
 4   StoreName     80162 non-null  object
 5   SellerName    80162 non-null  object
 6   ProductName   80162 non-null  object
 7   ProductGroup  80162 non-null  object
 8   Month         80162 non-null  object
 9   Year          80162 non-null  float64
 10  NetSales      80162 non-null  object
 11  UnitPrice     80162 non-null  object
 12  Units         80162 non-null  object
 13  Cartons       80162 non-null  object
 14  MonthNumeric  80162 non-null  object
dtypes: float64(4), object(11)
memory usage: 9.8+ MB
None

In [ ]:
#Preprocessing - reorder rows by year

NewData.sort_values(by='Year', ascending=True, inplace=True)
print(NewData['Year'].head(30))

0       1399.0
8220    1399.0
8221    1399.0
8222    1399.0
8223    1399.0
8224    1399.0
8225    1399.0
8226    1399.0
8227    1399.0
8228    1399.0
8219    1399.0
8229    1399.0
8231    1399.0
8232    1399.0
8233    1399.0
8234    1399.0
8235    1399.0
8236    1399.0
8237    1399.0
8238    1399.0
8239    1399.0
8230    1399.0
8240    1399.0
8218    1399.0
8216    1399.0
8196    1399.0
8197    1399.0
8198    1399.0
8199    1399.0
8200    1399.0
Name: Year, dtype: float64

In [ ]:
#Preprocessing - define numeric codes for unique values

NewData['StoreCode'] = NewData['StoreName'].astype('category').cat.codes
NewData['ProductGroupCode'] = NewData['ProductGroup'].astype('category').cat.codes
print(NewData.info())

<class 'pandas.core.frame.DataFrame'>
Index: 80162 entries, 0 to 80161
Data columns (total 17 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   CustomerCode      80162 non-null  float64
 1   SellerCode        80162 non-null  float64
 2   ProductCode       80162 non-null  float64
 3   CustomerName      80162 non-null  object
 4   StoreName         80162 non-null  object
 5   SellerName        80162 non-null  object
 6   ProductName       80162 non-null  object
 7   ProductGroup      80162 non-null  object
 8   Month             80162 non-null  object
 9   Year              80162 non-null  float64
 10  NetSales          80162 non-null  object
 11  UnitPrice         80162 non-null  object
 12  Units             80162 non-null  object
 13  Cartons           80162 non-null  object
 14  MonthNumeric      80162 non-null  object
 15  StoreCode         80162 non-null  int16
 16  ProductGroupCode  80162 non-null  int8
dtypes: float64(4), int16(1), int8(1), object(11)
memory usage: 10.0+ MB
None

In [ ]:
#Preprocessing - remove dots in specific columns

NewData['Cartons'] = NewData['Cartons'].astype(str).str.replace('.', '', regex=False)
NewData['Units'] = NewData['Units'].astype(str).str.replace('.', '', regex=False)

print(NewData[['Cartons', 'Units']].head(10))

     Cartons Units
0         48   288
8220       4    24
8221      10   120
8222       4    48
8223       5    60
8224      40   480
8225       5    60
8226       4    48
8227      60   720
8228      60   720

In [ ]:
#Preprocessing - change types of numeric columns

NumericColumns = ['NetSales', 'UnitPrice', 'Units', 'Cartons']

for column in NumericColumns:
    NewData[column] = pd.to_numeric(NewData[column], errors='coerce')

print(NewData.info())

<class 'pandas.core.frame.DataFrame'>
Index: 80162 entries, 0 to 80161
Data columns (total 17 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   CustomerCode      80162 non-null  float64
 1   SellerCode        80162 non-null  float64
 2   ProductCode       80162 non-null  float64
 3   CustomerName      80162 non-null  object
 4   StoreName         80162 non-null  object
 5   SellerName        80162 non-null  object
 6   ProductName       80162 non-null  object
 7   ProductGroup      80162 non-null  object
 8   Month             80162 non-null  object
 9   Year              80162 non-null  float64
 10  NetSales          80162 non-null  int64
 11  UnitPrice         80162 non-null  int64
 12  Units             80162 non-null  int64
 13  Cartons           80162 non-null  int64
 14  MonthNumeric      80162 non-null  object
 15  StoreCode         80162 non-null  int16
 16  ProductGroupCode  80162 non-null  int8
dtypes: float64(4), int16(1), int64(4), int8(1), object(7)
memory usage: 10.0+ MB
None

In [ ]:
#Preprocessing - keep identifiers as strings

IdentifierColumns = ['CustomerCode', 'SellerCode', 'ProductCode', 'StoreCode', 'ProductGroupCode']

for column in IdentifierColumns:
    NewData[column] = NewData[column].astype(str)

print(NewData.info())

<class 'pandas.core.frame.DataFrame'>
Index: 80162 entries, 0 to 80161
Data columns (total 17 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   CustomerCode      80162 non-null  object
 1   SellerCode        80162 non-null  object
 2   ProductCode       80162 non-null  object
 3   CustomerName      80162 non-null  object
 4   StoreName         80162 non-null  object
 5   SellerName        80162 non-null  object
 6   ProductName       80162 non-null  object
 7   ProductGroup      80162 non-null  object
 8   Month             80162 non-null  object
 9   Year              80162 non-null  float64
 10  NetSales          80162 non-null  int64
 11  UnitPrice         80162 non-null  int64
 12  Units             80162 non-null  int64
 13  Cartons           80162 non-null  int64
 14  MonthNumeric      80162 non-null  object
 15  StoreCode         80162 non-null  object
 16  ProductGroupCode  80162 non-null  object
dtypes: float64(1), int64(4), object(12)
memory usage: 11.0+ MB
None

In [ ]:
#Preprocessing - convert year and month columns to integers

NewData['Year'] = NewData['Year'].astype(int)
NewData['MonthNumeric'] = NewData['MonthNumeric'].astype(int)

print(NewData.info())

<class 'pandas.core.frame.DataFrame'>
Index: 80162 entries, 0 to 80161
Data columns (total 17 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   CustomerCode      80162 non-null  object
 1   SellerCode        80162 non-null  object
 2   ProductCode       80162 non-null  object
 3   CustomerName      80162 non-null  object
 4   StoreName         80162 non-null  object
 5   SellerName        80162 non-null  object
 6   ProductName       80162 non-null  object
 7   ProductGroup      80162 non-null  object
 8   Month             80162 non-null  object
 9   Year              80162 non-null  int64
 10  NetSales          80162 non-null  int64
 11  UnitPrice         80162 non-null  int64
 12  Units             80162 non-null  int64
 13  Cartons           80162 non-null  int64
 14  MonthNumeric      80162 non-null  int64
 15  StoreCode         80162 non-null  object
 16  ProductGroupCode  80162 non-null  object
dtypes: int64(6), object(11)
memory usage: 11.0+ MB
None

In [ ]:
#Check data

print(NewData.isnull().sum())
print('\n')
print(NewData.duplicated().sum())

DuplicatesAllColumns = NewData[NewData.duplicated()]

KeyColumns = ['CustomerCode', 'SellerCode', 'ProductCode', 'Month', 'Year']
DuplicatesKeyColumns = NewData[NewData.duplicated(subset=KeyColumns)]

print("Duplicates based on all columns:")
print(DuplicatesAllColumns)

print("\nDuplicates based on selected key columns:")
print(DuplicatesKeyColumns)

CustomerCode        0
SellerCode          0
ProductCode         0
CustomerName        0
StoreName           0
SellerName          0
ProductName         0
ProductGroup        0
Month               0
Year                0
NetSales            0
UnitPrice           0
Units               0
Cartons             0
MonthNumeric        0
StoreCode           0
ProductGroupCode    0
dtype: int64


4690
Duplicates based on all columns:
      CustomerCode SellerCode ProductCode                   CustomerName  \
8113     1010113.0  1400092.0   1101002.0                      حسن شگفتي
8114     1010113.0  1400092.0   1101006.0                      حسن شگفتي
8116     1010113.0  1400092.0   1102001.0                      حسن شگفتي
8316     1010101.0  1400072.0   1102005.0  فروشگاه زنجيره اي فاميلي مدرن
8317     1010101.0  1400072.0   1101002.0  فروشگاه زنجيره اي فاميلي مدرن
...            ...        ...         ...                            ...
69002    1010615.0  1400063.0   1101008.0    فروشگاه زنجيره اي افق کوروش
69003    1010615.0  1400063.0   1101002.0    فروشگاه زنجيره اي افق کوروش
69007    1010022.0  1400063.0   1101008.0    فروشگاه زنجيره اي افق کوروش
69009    1010020.0  1400063.0   1101008.0    فروشگاه زنجيره اي افق کوروش
69010    1010020.0  1400063.0   1101008.0    فروشگاه زنجيره اي افق کوروش

                              StoreName          SellerName  \
8113                    فروشگاه دي مارت       مهدي عطايي فر
8114                    فروشگاه دي مارت       مهدي عطايي فر
8116                    فروشگاه دي مارت       مهدي عطايي فر
8316   فروشگاه فاميلي مدرن تهران شريعتي       مهناز ميرزائي
8317   فروشگاه فاميلي مدرن تهران شريعتي       مهناز ميرزائي
...                                 ...                 ...
69002      فروشگاه افق کوروش کرمانشاه 2  محسن صفرزاده نيگجه
69003      فروشگاه افق کوروش کرمانشاه 2  محسن صفرزاده نيگجه
69007          فروشگاه افق کوروش فلاحت4  محسن صفرزاده نيگجه
69009         فروشگاه افق کوروش فلاحت 5  محسن صفرزاده نيگجه
69010         فروشگاه افق کوروش فلاحت 5  محسن صفرزاده نيگجه

                                         ProductName         ProductGroup  \
8113   رب گوجه فرنگي قرمز آسان بازشو روژين  800 گرمي  رب گوجه فرنگي روژين
8114               رب گوجه فرنگي روژين شيشه 700 گرمي  رب گوجه فرنگي روژين
8116                        سس بطري کچاپ ساده460گرمي               سس گرم
8316                      سس بطري هزارجزيره 420 گرمي               سس سرد
8317   رب گوجه فرنگي قرمز آسان بازشو روژين  800 گرمي  رب گوجه فرنگي روژين
...                                              ...                  ...
69002              رب گوجه فرنگي روژين شيشه 680 گرمي  رب گوجه فرنگي روژين
69003  رب گوجه فرنگي قرمز آسان بازشو روژين  800 گرمي  رب گوجه فرنگي روژين
69007              رب گوجه فرنگي روژين شيشه 680 گرمي  رب گوجه فرنگي روژين
69009              رب گوجه فرنگي روژين شيشه 680 گرمي  رب گوجه فرنگي روژين
69010              رب گوجه فرنگي روژين شيشه 680 گرمي  رب گوجه فرنگي روژين

       Month  Year   NetSales  UnitPrice  Units  Cartons  MonthNumeric  \
8113     آذر  1399    8380860     158700     60        5             9
8114     آذر  1399    5158116     149000     36        3             9
8116     آذر  1399     453600     106000      6        1             9
8316     آذر  1399     433433     108000      6        1             9
8317     آذر  1399   49586399     158700    360       30             9
...      ...   ...        ...        ...    ...      ...           ...
69002  مرداد  1403  133930170     405849    300       25             5
69003  مرداد  1403  996430248     419373   2160      180             5
69007  مرداد  1403  428576544     405849    960       80             5
69009  مرداد  1403  428576544     405849    960       80             5
69010  مرداد  1403  187502238     405849    420       35             5

      StoreCode ProductGroupCode
8113        277                0
8114        277                0
8116        277                2
8316        647                1
8317        647                0
...         ...              ...
69002       191                0
69003       191                0
69007       182                0
69009       181                0
69010       181                0

[4690 rows x 17 columns]

Duplicates based on selected key columns:
      CustomerCode SellerCode ProductCode                        CustomerName  \
8113     1010113.0  1400092.0   1101002.0                           حسن شگفتي
8114     1010113.0  1400092.0   1101006.0                           حسن شگفتي
8115     1010113.0  1400092.0   1103004.0                           حسن شگفتي
8116     1010113.0  1400092.0   1102001.0                           حسن شگفتي
8147     1010113.0  1400092.0   1103004.0                           حسن شگفتي
...            ...        ...         ...                                 ...
69011    1010020.0  1400063.0   1101002.0         فروشگاه زنجيره اي افق کوروش
69012    1010004.0  1400063.0   1101008.0         فروشگاه زنجيره اي افق کوروش
69013    1010004.0  1400063.0   1101002.0         فروشگاه زنجيره اي افق کوروش
69020    1010144.0  1400118.0   1104010.0  شرکت بازرگاني سامان انديشان امرتات
69024    1010157.0  1400092.0   1104008.0        شرکت هايپر مارکتهاي ماف پارس

                       StoreName          SellerName  \
8113             فروشگاه دي مارت       مهدي عطايي فر
8114             فروشگاه دي مارت       مهدي عطايي فر
8115             فروشگاه دي مارت       مهدي عطايي فر
8116             فروشگاه دي مارت       مهدي عطايي فر
8147             فروشگاه دي مارت       مهدي عطايي فر
...                          ...                 ...
69011  فروشگاه افق کوروش فلاحت 5  محسن صفرزاده نيگجه
69012     فروشگاه افق کوروش مشهد  محسن صفرزاده نيگجه
69013     فروشگاه افق کوروش مشهد  محسن صفرزاده نيگجه
69020              هايپر مي طوبي      داود اوستاديان
69024            هايپر استار ارم       مهدي عطايي فر

                                            ProductName  \
8113      رب گوجه فرنگي قرمز آسان بازشو روژين  800 گرمي
8114                  رب گوجه فرنگي روژين شيشه 700 گرمي
8115   کنسرو گوجه فرنگي درسته پوست کنده (پيل) 380 گرمي
8116                           سس بطري کچاپ ساده460گرمي
8147   کنسرو گوجه فرنگي درسته پوست کنده (پيل) 380 گرمي
...                                                 ...
69011     رب گوجه فرنگي قرمز آسان بازشو روژين  800 گرمي
69012                 رب گوجه فرنگي روژين شيشه 680 گرمي
69013     رب گوجه فرنگي قرمز آسان بازشو روژين  800 گرمي
69020                    کنسرو ذرت شيرين 400 گرمي روژين
69024                     کنسرو نخود سبز 400 گرمي روژين

                 ProductGroup  Month  Year    NetSales  UnitPrice  Units  \
8113      رب گوجه فرنگي روژين    آذر  1399     8380860     158700     60
8114      رب گوجه فرنگي روژين    آذر  1399     5158116     149000     36
8115   کنسرو گوجه فرنگي روژين    آذر  1399     4073471      52500     96
8116                   سس گرم    آذر  1399      453600     106000      6
8147   کنسرو گوجه فرنگي روژين    آذر  1399      424301      52500     12
...                       ...    ...   ...         ...        ...    ...
69011     رب گوجه فرنگي روژين  مرداد  1403  1439288136     419373   3120
69012     رب گوجه فرنگي روژين  مرداد  1403   241074306     405849    540
69013     رب گوجه فرنگي روژين  مرداد  1403  1328573664     419373   2880
69020          کنسرو غيرگوشتي  مرداد  1403    61825104     390310    144
69024          کنسرو غيرگوشتي  مرداد  1403    39836148     301789    120

       Cartons  MonthNumeric StoreCode ProductGroupCode
8113         5             9       277                0
8114         3             9       277                0
8115         8             9       277                4
8116         1             9       277                2
8147         1             9       277                4
...        ...           ...       ...              ...
69011      260             5       181                0
69012       45             5       187                0
69013      240             5       187                0
69020       12             5       825                3
69024       10             5       776                3

[18590 rows x 17 columns]

In [ ]:
#Save the data to a dataframe and new csv file

FilePath = '/content/drive/MyDrive/Colab Notebooks/Chain-5Years-Cleaned.csv'
NewData.to_csv(FilePath, index=False)